@import "tailwindcss";

:root {
  --background: #fff5f5;
  --surface: #ffffff;

  --primary: #fe0000;
  --primary-hover: #d80000;
  --primary-light: #fff1f1;

  --text: #2c2c2c;
  --text-secondary: #6b7280;

  --border: #e5e7eb;
}

@theme inline {
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-primary-light: var(--primary-light);

  --color-text: var(--text);
  --color-text-secondary: var(--text-secondary);

  --color-border: var(--border);
}

html {
  background: var(--background);
}

body {
  min-height: 100vh;
  background: var(--background);
  color: var(--text);
}
